.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: grey;
}

.cardContainer {
    width: 250px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}